body{
    font-family: Montserrat;
    color: white;
    background-color: #191817;
    text-align: center;
}
.nav-item{
    color: white;
}

.home-page-image{
    width: 100%;
}

#home-section{
    padding: 8% 5%;
    background-color: #A5633C;
}

#carousel-section{
    padding: 5% 0;
    background-color: #733B31;
}

.carousel-image{
    width: 30%;
}

.gallery-title{
    margin: 0 0 5% 0;
}

#about-paragraph{
    background-color: #A5633C;
    padding: 5%;
}

#footer{
    background-color: #ACA698;
}

.footer-items{
    margin: 0 5%;
}

#location-note{
    background-color: #A5633C;
    padding: 2%;
    font-size: 1.2rem;
}

#location{
    background-color: #733B31;
    padding: 5% 8%;
    font-size: 1.5em;
    text-align: left;
}

.location-table{
    color: white;
}

#steak-menu{
    background-color: #A5633C;
    padding: 5%;
}

#fusion-menu{
    background-color: #733B31;
    padding: 5%;
}