body{
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: #191817;
    text-align: center;
}
h1{
    font-family: 'Allura', cursive;
}
.nav1{
    background-color: #B34234;
}
.nav-item{
    color: white;
}
.header-image{
    padding-top: 2%;
}

.home-page-image{
    width: 100%;
}

#home-section{
    padding: 8% 5%;
}

#carousel-section{
    padding: 5% 0;
}

.carousel-image{
    width: 30%;
}

.gallery-title{
    margin: 0 0 5% 0;
}

#about-paragraph{
    padding: 5%;
}

#footer{
    background-color: #CED050;
}
.footer-image{
    padding-top: 3%;
}

.footer-items{
    margin: 0 5%;
}

#location-note{
    padding: 2%;
    font-size: 1.2rem;
}

#location{
    padding: 5% 8%;
    font-size: 1.5em;
    text-align: left;
}

.table-headers{
    font-family: 'Allura', cursive;
    font-size: 2.5rem;
}

.location-table{
    color: white;
}

#steak-menu{
    padding: 5%;
}

#fusion-menu{
    padding: 5%;
}

#contact-intro-section{
    padding: 5%;
}

#contact-form-section{
    padding: 5%;
}

.parent{
    display: grid;
    place-items: center;
}

.box{
    display: block;
    margin: auto;
}